.product-grid {
  display: grid;
  grid-template-columns: auto auto auto auto ;
  gap: 20px;
  padding: 3rem;
  background:rgb(202, 194, 194);
  color: #221f1f;
}

.product-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 10px 0 5px;
  font-size: 1.1rem;
}

.product-card p {
  margin: 0 0 10px;
  color: #211f1f;
}

.product-card button {
  background-color: #2581dc;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  color: rgb(219, 210, 210);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.product-card button:hover {
  background-color: #1a5fa0;
}
